Ksnm/.vs/
Ksnm/DemoApp/obj/
Ksnm/Ksnm/bin/
Ksnm/Ksnm/obj/
Ksnm/DemoApp/bin/
Ksnm/KsnmTests/bin/
Ksnm/KsnmTests/obj/
/Ksnm/DemoApp/Test
/Ksnm/.leu
net5.0-windows
/Ksnm/DemoApp/DemoApp.csproj.user
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/App.g.i.cs
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/DemoWpfApp.AssemblyInfo.cs
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/DemoWpfApp.AssemblyInfoInputs.cache
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/DemoWpfApp.GeneratedMSBuildEditorConfig.editorconfig
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/DemoWpfApp.assets.cache
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/DemoWpfApp_MarkupCompile.i.cache
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/DemoWpfApp_MarkupCompile.i.lref
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/MainWindow.g.i.cs
/Ksnm/Ksnm2/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Ksnm/Ksnm2/obj/Debug/net8.0/Ksnm2.AssemblyInfo.cs
/Ksnm/Ksnm2/obj/Debug/net8.0/Ksnm2.AssemblyInfoInputs.cache
/Ksnm/Ksnm2/obj/Debug/net8.0/Ksnm2.GeneratedMSBuildEditorConfig.editorconfig
/Ksnm/Ksnm2/obj/Debug/net8.0/Ksnm2.GlobalUsings.g.cs
/Ksnm/Ksnm2/obj/Debug/net8.0/Ksnm2.assets.cache
/Ksnm/Ksnm2/obj/Ksnm2.csproj.nuget.dgspec.json
/Ksnm/Ksnm2/obj/Ksnm2.csproj.nuget.g.props
/Ksnm/Ksnm2/obj/Ksnm2.csproj.nuget.g.targets
/Ksnm/Ksnm2/obj/project.assets.json
/Ksnm/Ksnm2/obj/project.nuget.cache
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/CoverletSourceRootsMapping_Ksnm2Tests
/Ksnm/Ksnm2Tests/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Ksnm/Ksnm2Tests/obj/Debug/net8.0/Ksnm2Tests.AssemblyInfo.cs
/Ksnm/Ksnm2Tests/obj/Debug/net8.0/Ksnm2Tests.AssemblyInfoInputs.cache
/Ksnm/Ksnm2Tests/obj/Debug/net8.0/Ksnm2Tests.GeneratedMSBuildEditorConfig.editorconfig
/Ksnm/Ksnm2Tests/obj/Debug/net8.0/Ksnm2Tests.GlobalUsings.g.cs
/Ksnm/Ksnm2Tests/obj/Debug/net8.0/Ksnm2Tests.assets.cache
/Ksnm/Ksnm2Tests/obj/Debug/net8.0/Ksnm2Tests.csproj.AssemblyReference.cache
/Ksnm/Ksnm2Tests/obj/Ksnm2Tests.csproj.nuget.dgspec.json
/Ksnm/Ksnm2Tests/obj/Ksnm2Tests.csproj.nuget.g.props
/Ksnm/Ksnm2Tests/obj/Ksnm2Tests.csproj.nuget.g.targets
/Ksnm/Ksnm2Tests/obj/project.assets.json
/Ksnm/Ksnm2Tests/obj/project.nuget.cache
/Ksnm/DemoWpfApp/bin/Debug/net8.0-windows7.0/DemoWpfApp.deps.json
/Ksnm/DemoWpfApp/bin/Debug/net8.0-windows7.0/DemoWpfApp.dll
/Ksnm/DemoWpfApp/bin/Debug/net8.0-windows7.0/DemoWpfApp.exe
/Ksnm/DemoWpfApp/bin/Debug/net8.0-windows7.0/DemoWpfApp.pdb
/Ksnm/DemoWpfApp/bin/Debug/net8.0-windows7.0/DemoWpfApp.runtimeconfig.json
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/App.g.cs
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/DemoWpfApp.csproj.BuildWithSkipAnalyzers
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/DemoWpfApp.csproj.CoreCompileInputs.cache
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/DemoWpfApp.csproj.FileListAbsolute.txt
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/DemoWpfApp.dll
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/DemoWpfApp.g.resources
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/DemoWpfApp.genruntimeconfig.cache
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/DemoWpfApp.pdb
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/DemoWpfApp.sourcelink.json
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/DemoWpfApp_MarkupCompile.cache
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/DemoWpfApp_MarkupCompile.lref
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/DemoWpfApp_ioxugzmw_wpftmp.AssemblyInfo.cs
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/DemoWpfApp_ioxugzmw_wpftmp.AssemblyInfoInputs.cache
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/DemoWpfApp_ioxugzmw_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/DemoWpfApp_ioxugzmw_wpftmp.assets.cache
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/DemoWpfApp_ioxugzmw_wpftmp.csproj.BuildWithSkipAnalyzers
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/DemoWpfApp_ioxugzmw_wpftmp.sourcelink.json
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/DemoWpfApp_pqvfsgks_wpftmp.AssemblyInfo.cs
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/DemoWpfApp_pqvfsgks_wpftmp.AssemblyInfoInputs.cache
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/DemoWpfApp_pqvfsgks_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/DemoWpfApp_pqvfsgks_wpftmp.assets.cache
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/DemoWpfApp_pqvfsgks_wpftmp.sourcelink.json
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/MainWindow.baml
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/MainWindow.g.cs
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/apphost.exe
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/ref/DemoWpfApp.dll
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/refint/DemoWpfApp.dll
/Ksnm/Ksnm2/bin/Debug/net8.0/Ksnm2.deps.json
/Ksnm/Ksnm2/bin/Debug/net8.0/Ksnm2.dll
/Ksnm/Ksnm2/bin/Debug/net8.0/Ksnm2.pdb
/Ksnm/Ksnm2/obj/Debug/net8.0/Ksnm2.csproj.BuildWithSkipAnalyzers
/Ksnm/Ksnm2/obj/Debug/net8.0/Ksnm2.csproj.CoreCompileInputs.cache
/Ksnm/Ksnm2/obj/Debug/net8.0/Ksnm2.csproj.FileListAbsolute.txt
/Ksnm/Ksnm2/obj/Debug/net8.0/Ksnm2.dll
/Ksnm/Ksnm2/obj/Debug/net8.0/Ksnm2.pdb
/Ksnm/Ksnm2/obj/Debug/net8.0/Ksnm2.sourcelink.json
/Ksnm/Ksnm2/obj/Debug/net8.0/ref/Ksnm2.dll
/Ksnm/Ksnm2/obj/Debug/net8.0/refint/Ksnm2.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/Ksnm2.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/Ksnm2.pdb
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/Ksnm2Tests.deps.json
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/Ksnm2Tests.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/Ksnm2Tests.pdb
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/Ksnm2Tests.runtimeconfig.json
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/Microsoft.TestPlatform.AdapterUtilities.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/Microsoft.TestPlatform.CommunicationUtilities.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/Microsoft.TestPlatform.CoreUtilities.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/Microsoft.TestPlatform.CrossPlatEngine.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/Microsoft.TestPlatform.PlatformAbstractions.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/Microsoft.TestPlatform.Utilities.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.Common.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/Newtonsoft.Json.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/NuGet.Frameworks.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/de/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/es/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/fr/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/it/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/ja/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/ko/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/pl/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/pt-BR/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/ru/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/testhost.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/testhost.exe
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/tr/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/Ksnm/Ksnm2Tests/obj/Debug/net8.0/Ksnm2Tests.csproj.BuildWithSkipAnalyzers
/Ksnm/Ksnm2Tests/obj/Debug/net8.0/Ksnm2Tests.csproj.CoreCompileInputs.cache
/Ksnm/Ksnm2Tests/obj/Debug/net8.0/Ksnm2Tests.csproj.FileListAbsolute.txt
/Ksnm/Ksnm2Tests/obj/Debug/net8.0/Ksnm2Tests.csproj.Up2Date
/Ksnm/Ksnm2Tests/obj/Debug/net8.0/Ksnm2Tests.dll
/Ksnm/Ksnm2Tests/obj/Debug/net8.0/Ksnm2Tests.genruntimeconfig.cache
/Ksnm/Ksnm2Tests/obj/Debug/net8.0/Ksnm2Tests.pdb
/Ksnm/Ksnm2Tests/obj/Debug/net8.0/Ksnm2Tests.sourcelink.json
/Ksnm/Ksnm2Tests/obj/Debug/net8.0/ref/Ksnm2Tests.dll
/Ksnm/Ksnm2Tests/obj/Debug/net8.0/refint/Ksnm2Tests.dll
/Ksnm/packages/System.Memory.4.5.4/.signature.p7s
/Ksnm/packages/System.Memory.4.5.4/LICENSE.TXT
/Ksnm/packages/System.Memory.4.5.4/System.Memory.4.5.4.nupkg
/Ksnm/packages/System.Memory.4.5.4/THIRD-PARTY-NOTICES.TXT
/Ksnm/packages/System.Memory.4.5.4/lib/net461/System.Memory.dll
/Ksnm/packages/System.Memory.4.5.4/lib/net461/System.Memory.xml
/Ksnm/packages/System.Memory.4.5.4/lib/netcoreapp2.1/_._
/Ksnm/packages/System.Memory.4.5.4/lib/netstandard1.1/System.Memory.dll
/Ksnm/packages/System.Memory.4.5.4/lib/netstandard1.1/System.Memory.xml
/Ksnm/packages/System.Memory.4.5.4/lib/netstandard2.0/System.Memory.dll
/Ksnm/packages/System.Memory.4.5.4/lib/netstandard2.0/System.Memory.xml
/Ksnm/packages/System.Memory.4.5.4/ref/netcoreapp2.1/_._
/Ksnm/packages/System.Memory.4.5.4/useSharedDesignerContext.txt
/Ksnm/packages/System.Memory.4.5.4/version.txt
