Ksnm/.vs/
Ksnm/DemoApp/obj/
Ksnm/Ksnm/bin/
Ksnm/Ksnm/obj/
Ksnm/DemoApp/bin/
Ksnm/KsnmTests/bin/
Ksnm/KsnmTests/obj/
/Ksnm/DemoApp/Test
/Ksnm/.leu
net5.0-windows
/Ksnm/DemoApp/DemoApp.csproj.user
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/App.g.i.cs
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/DemoWpfApp.AssemblyInfo.cs
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/DemoWpfApp.AssemblyInfoInputs.cache
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/DemoWpfApp.GeneratedMSBuildEditorConfig.editorconfig
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/DemoWpfApp.assets.cache
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/DemoWpfApp_MarkupCompile.i.cache
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/DemoWpfApp_MarkupCompile.i.lref
/Ksnm/DemoWpfApp/obj/Debug/net8.0-windows7.0/MainWindow.g.i.cs
/Ksnm/Ksnm2/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Ksnm/Ksnm2/obj/Debug/net8.0/Ksnm2.AssemblyInfo.cs
/Ksnm/Ksnm2/obj/Debug/net8.0/Ksnm2.AssemblyInfoInputs.cache
/Ksnm/Ksnm2/obj/Debug/net8.0/Ksnm2.GeneratedMSBuildEditorConfig.editorconfig
/Ksnm/Ksnm2/obj/Debug/net8.0/Ksnm2.GlobalUsings.g.cs
/Ksnm/Ksnm2/obj/Debug/net8.0/Ksnm2.assets.cache
/Ksnm/Ksnm2/obj/Ksnm2.csproj.nuget.dgspec.json
/Ksnm/Ksnm2/obj/Ksnm2.csproj.nuget.g.props
/Ksnm/Ksnm2/obj/Ksnm2.csproj.nuget.g.targets
/Ksnm/Ksnm2/obj/project.assets.json
/Ksnm/Ksnm2/obj/project.nuget.cache
/Ksnm/Ksnm2Tests/bin/Debug/net8.0/CoverletSourceRootsMapping_Ksnm2Tests
/Ksnm/Ksnm2Tests/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Ksnm/Ksnm2Tests/obj/Debug/net8.0/Ksnm2Tests.AssemblyInfo.cs
/Ksnm/Ksnm2Tests/obj/Debug/net8.0/Ksnm2Tests.AssemblyInfoInputs.cache
/Ksnm/Ksnm2Tests/obj/Debug/net8.0/Ksnm2Tests.GeneratedMSBuildEditorConfig.editorconfig
/Ksnm/Ksnm2Tests/obj/Debug/net8.0/Ksnm2Tests.GlobalUsings.g.cs
/Ksnm/Ksnm2Tests/obj/Debug/net8.0/Ksnm2Tests.assets.cache
/Ksnm/Ksnm2Tests/obj/Debug/net8.0/Ksnm2Tests.csproj.AssemblyReference.cache
/Ksnm/Ksnm2Tests/obj/Ksnm2Tests.csproj.nuget.dgspec.json
/Ksnm/Ksnm2Tests/obj/Ksnm2Tests.csproj.nuget.g.props
/Ksnm/Ksnm2Tests/obj/Ksnm2Tests.csproj.nuget.g.targets
/Ksnm/Ksnm2Tests/obj/project.assets.json
/Ksnm/Ksnm2Tests/obj/project.nuget.cache
