Ksnm/.vs/
Ksnm/DemoApp/obj/
Ksnm/Ksnm/bin/
Ksnm/Ksnm/obj/
Ksnm/DemoApp/bin/
Ksnm/KsnmTests/bin/
Ksnm/KsnmTests/obj/
/Ksnm/DemoApp/Test
/Ksnm/.leu
/Ksnm/DemoWpfApp/obj/Debug/net5.0-windows/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/Ksnm/DemoWpfApp/obj/Debug/net5.0-windows/App.g.cs
/Ksnm/DemoWpfApp/obj/Debug/net5.0-windows/App.g.i.cs
/Ksnm/DemoWpfApp/obj/Debug/net5.0-windows/DemoWpfApp.AssemblyInfo.cs
/Ksnm/DemoWpfApp/obj/Debug/net5.0-windows/DemoWpfApp.AssemblyInfoInputs.cache
/Ksnm/DemoWpfApp/obj/Debug/net5.0-windows/DemoWpfApp.GeneratedMSBuildEditorConfig.editorconfig
/Ksnm/DemoWpfApp/obj/Debug/net5.0-windows/DemoWpfApp.assets.cache
/Ksnm/DemoWpfApp/obj/Debug/net5.0-windows/DemoWpfApp.csproj.CoreCompileInputs.cache
/Ksnm/DemoWpfApp/obj/Debug/net5.0-windows/DemoWpfApp.csproj.FileListAbsolute.txt
/Ksnm/DemoWpfApp/obj/Debug/net5.0-windows/DemoWpfApp.csprojAssemblyReference.cache
/Ksnm/DemoWpfApp/obj/Debug/net5.0-windows/DemoWpfApp.designer.deps.json
/Ksnm/DemoWpfApp/obj/Debug/net5.0-windows/DemoWpfApp.designer.runtimeconfig.json
/Ksnm/DemoWpfApp/obj/Debug/net5.0-windows/DemoWpfApp.dll
/Ksnm/DemoWpfApp/obj/Debug/net5.0-windows/DemoWpfApp.g.resources
/Ksnm/DemoWpfApp/obj/Debug/net5.0-windows/DemoWpfApp.genruntimeconfig.cache
/Ksnm/DemoWpfApp/obj/Debug/net5.0-windows/DemoWpfApp.pdb
/Ksnm/DemoWpfApp/obj/Debug/net5.0-windows/DemoWpfApp_MarkupCompile.cache
/Ksnm/DemoWpfApp/obj/Debug/net5.0-windows/DemoWpfApp_MarkupCompile.i.cache
/Ksnm/DemoWpfApp/obj/Debug/net5.0-windows/DemoWpfApp_MarkupCompile.lref
/Ksnm/DemoWpfApp/obj/Debug/net5.0-windows/MainWindow.baml
/Ksnm/DemoWpfApp/obj/Debug/net5.0-windows/MainWindow.g.cs
/Ksnm/DemoWpfApp/obj/Debug/net5.0-windows/MainWindow.g.i.cs
/Ksnm/DemoWpfApp/obj/Debug/net5.0-windows/apphost.exe
/Ksnm/DemoWpfApp/obj/Debug/net5.0-windows/ref/DemoWpfApp.dll
/Ksnm/DemoWpfApp/obj/DemoWpfApp.csproj.nuget.dgspec.json
/Ksnm/DemoWpfApp/obj/DemoWpfApp.csproj.nuget.g.props
/Ksnm/DemoWpfApp/obj/DemoWpfApp.csproj.nuget.g.targets
/Ksnm/DemoWpfApp/obj/Release/net5.0-windows/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/Ksnm/DemoWpfApp/obj/Release/net5.0-windows/App.g.i.cs
/Ksnm/DemoWpfApp/obj/Release/net5.0-windows/DemoWpfApp.AssemblyInfo.cs
/Ksnm/DemoWpfApp/obj/Release/net5.0-windows/DemoWpfApp.AssemblyInfoInputs.cache
/Ksnm/DemoWpfApp/obj/Release/net5.0-windows/DemoWpfApp.GeneratedMSBuildEditorConfig.editorconfig
/Ksnm/DemoWpfApp/obj/Release/net5.0-windows/DemoWpfApp.assets.cache
/Ksnm/DemoWpfApp/obj/Release/net5.0-windows/DemoWpfApp.csprojAssemblyReference.cache
/Ksnm/DemoWpfApp/obj/Release/net5.0-windows/DemoWpfApp_MarkupCompile.i.cache
/Ksnm/DemoWpfApp/obj/Release/net5.0-windows/MainWindow.g.i.cs
/Ksnm/DemoWpfApp/obj/project.assets.json
/Ksnm/DemoWpfApp/obj/project.nuget.cache
/Ksnm/DemoWpfApp/bin/Debug/net5.0-windows/DemoWpfApp.deps.json
/Ksnm/DemoWpfApp/bin/Debug/net5.0-windows/DemoWpfApp.dll
/Ksnm/DemoWpfApp/bin/Debug/net5.0-windows/DemoWpfApp.exe
/Ksnm/DemoWpfApp/bin/Debug/net5.0-windows/DemoWpfApp.pdb
/Ksnm/DemoWpfApp/bin/Debug/net5.0-windows/DemoWpfApp.runtimeconfig.dev.json
/Ksnm/DemoWpfApp/bin/Debug/net5.0-windows/DemoWpfApp.runtimeconfig.json
/Ksnm/DemoWpfApp/bin/Debug/net5.0-windows/ref/DemoWpfApp.dll
